@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
}

html{
	scroll-behavior: smooth;
	
}
body {
	margin: 0;
	padding: 0;
	
}

body {
	color: #ffffff;
	background-color: black;
	width: 100vw;
	height: 100vh;
}

canvas{
	width: 100vw ;
	height: 100vh;
	position:fixed;
	top:0;
	left:0;
	z-index: -1;
}
/*------------header----------------*/
#header {
	width: 100vw;
	border:solid;
	padding-bottom: 20%;
	margin: 0 auto;
	z-index: +1;
}
.container{
	padding: 0 1em;
	max-width: 90%;
	border: solid;
	margin: 0 auto;
}

#header .container{
	margin: 0 auto;
	margin-top: 25px;
	justify-content: center;
}

.navbar {
	display: flex;
	margin: 0;
	border: solid;
	border-color: green;
	list-style: none;
	gap: 4em;
	justify-content: space-evenly;
	width: auto;
	z-index:5;
}

.navbar > *{
	flex:1;
}

	.navbar li {
		margin: 0;
		padding: 0;
		flex-grow: 0;
		border: solid;
		border-color: red;
		z-index: +2;
	}

	.navbar li a {
		color: azure;
		font-size: calc(10px + 1vw);
		font-weight: 900;
		z-index: +2;
	}

.navbar li a::after{
	content: '';
	width: 0;
	height: 4px;
	background: azure;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
	z-index: +2;
}

.navbar li a:hover::after{
	width: 100%;
}

.header-text {
	margin-top: 20px;
	font-size: calc(20px + 1.6vw);
	font-weight: 600;
	text-align:center;
	color: #fff;
	text-shadow: 0 0 1px #fff, 
		0 0 2px #fff, 
		0 0 30px #fff, 
		0 0 40px #0ff, 
		0 0 80px #0ff, 
		0 0 90px #0ff, 
		0 0 100px #0ff, 
		0 0 150px #0ff;
}

.header-text h1{
	font-size: calc(30px + 1.5vw);
	margin-top: 20px;
	word-wrap:normal;
}

.header-text h1 span{
	color: Black;
}

#about {
	padding: 0;

}

.row{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
/*-------------about-----------------*/


#about .container{
	margin: 0 auto;
	width: 100%;
	border-color: gray;
}

.dp {
	width: calc(100px + 18vw);
	height: calc(100px + 18vw);
	border-radius: 100%;
	margin: 0 auto;
}

.aboutTable{
	display: flex;
	border: solid;
	border-color: yellow;
	align-items: center;
	justify-content:center;
	width: 100%;
}

.aboutTitle{
	border:solid;
	border-color:deeppink;
	text-align:center;
	margin: 0 auto;
	width:80%;
}

.aboutTitle h1 {
	font-size: calc(20px + 2vw);
	font-weight: 900;
	color: blue;
	margin: 0 auto;
}

.aboutTitle p{
	font-size: calc(10px + 1vw);
}

.tab-titles {
	display: flex;
	margin: 0;
	border: solid;
	border-color: darkcyan
}


.tab-links {
	margin-right: auto;
	margin-left: auto;
	font-size: calc(11px + 1.5vw);
	font-weight: 900;
	cursor: pointer;
	position: relative;
	border: dashed;
}

.tab-contents ul li {
	list-style: none;
	margin: 0;
	text-align: justify;
	font-size: calc(9px + 1vw);
}

.tab-contents ul li span {
	color: blue;
	font-size: calc(14px + 1.5vw);
	font-weight: 900;
}

.aboutTable li {
	border: solid;
	border-color: green;
	align-self: center;
	text-wrap:normal;
	padding: 0;
}



.tab-links::after {
	content: '';
	width: 0;
	height: 5px;
	background: blue;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 75%;
}


.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}


@media screen and (max-width: 1024px) {
	.aboutTable {
		flex-wrap:wrap;
		flex-direction:column;
	}
}

#about .skills .container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	margin-top: 60px;
	align-content: center;
}

.skill-list {
	display: flex;
	border: solid;
	border-color: darkmagenta;
	justify-content: center;
	flex-wrap: wrap;
	list-style:none;
}

.skill-list li {
	border: solid;
	height: 100%;
	border-color: orange;
	margin:0 auto;
	margin-top: 5%;
}

.box {
	position: relative;
	width: 175px;
	height: 175px;
}


.box .content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box .content .percent {
	position: relative;
	width: 150px;
	height: 150px;
}

.box .content .percent::before {
	content: attr(data-text);
	position: absolute;
	inset: 20px;
	background: 1%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: azure;
	font-size: 20px;
}

.box .content .percent svg {
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(270deg);
}

.box .content .percent svg circle {
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke-width: 3;
	stroke: rgba(0,0,0,0.05);
	transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
	stroke: azure;
	stroke-dasharray: 440;
	stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
	opacity: 0;
	animation: fadeIn 1s linear forwards;
	animation-delay: 2.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.box .content .percent .dot {
	position: absolute;
	inset: 10px;
	z-index: 10;
	animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(calc(3.6deg * var(--num)));
	}
}

.box .content .percent .dot::before {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 14px;
	height: 14px;
	background: azure;
	border-radius: 50%;
}

.box .content .number {
	position: relative;
	inset: 0;
	opacity: 0;
	animation: fadeIn 1s linear forwards;
	animation-delay: 2.5s;
}

.box .content .number h2 {
	font-size: 2.5rem;
	color: black;
	text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.box .content .number h2 span {
	font-weight: 300;
	font-size: 1.5rem;
}



@media screen and (max-width: 1020px) {

	.skill-list li {
		margin-top: 15%;
	}

	
}	

@media screen and (max-width: 320px){
	.box {
		transform: scale(0.75);
	}
}

.projects h1 {
	font-size: calc(20px + 2vw);
	font-weight: 900;
	color: blue;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	
}

	.projects h2 {
		text-align: center;
		font-size: 20px;
	}

	.projects .container {
		position: relative;
		height: 250px;
		width: 100%;
		display: flex;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 0px;
		align-content: center;
	}

.project .container {
	position: relative;
	height: 250px;
	width: 100vw;
	display: flex;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 0px;
	justify-content: center;
	flex-wrap: wrap;
}

	.card {
		display: flex;
		height: 100%;
		width: 350px;
		border-radius: 10px;
		box-shadow: -1rem 0 3rem #000;
		/*   margin-left: -50px; */
		transition: 0.4s ease-out;
		position: relative;
		left: 0px;
		margin-bottom: 60px;
		
	}

		.card a {
			position: relative;
			width: 100%;
		}

		.card:not(:first-child) {
			margin-left: -60px;
		}

		.card:hover {
			transform: translateY(25px);
			transition: 0.4s ease-out;
		}

			.card:hover ~ .card {
				position: relative;
				left: 50px;
				transition: 0.4s ease-out;
			}

	.title {
		color: white;
		font-weight: 300;
		position: absolute;
		left: 20px;
		top: 15px;
	}

	.bar {
		position: absolute;
		top: 100px;
		left: 20px;
		height: 5px;
		width: calc(100% - 20px);
	}

	.emptybar {
		background-color: #2e3033;
		width: 100%;
		height: 100%;
	}

	.filledbar {
		position: absolute;
		top: 0px;
		z-index: 3;
		width: 0px;
		height: 100%;
		background: rgb(0,154,217);
		background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
		transition: 0.6s ease-out;
	}

	.card:hover .filledbar {
		width: 100%;
		transition: 0.4s ease-out;
	}

	.circle {
		position: absolute;
		top: 150px;
		left: calc((100% - 100px) /2);
	}


	.stroke {
		stroke: white;
		stroke-dasharray: 360;
		stroke-dashoffset: 360;
		transition: 0.6s ease-out;
	}

	svg {
		fill: transparent;
		stroke-width: 8px;
	}

	.card:hover .stroke {
		stroke-dashoffset: 100;
		transition: 0.6s ease-out;
	}


@media screen and (max-width: 480px) {
	.card {
		transform: scale(0.75);
	}

	.title {
		font-size: calc(9px + 1vw);
	}

	.circle{
		transform: scale(0.5);
		right:20px;
		top: 75px;
	}

	.card:not(:first-child) {
		margin-left: -30px;
	}

	.card:hover {
		transform: translateY(15px);
		transition: 0.4s ease-out;
	}

}




@media screen and (max-width: 1020px){

}


	@-webkit-keyframes animate-positive {
		0% {
			width: 0;
		}
	}

	@keyframes animate-positive {
		0% {
			width: 0;
		}
	}

	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

	html {
		font-family: 'Montserrat', Arial, sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}



	button {
		overflow: visible;
	}

	button, select {
		text-transform: none;
	}

	button, input, select, textarea {
		color: white;
		font: inherit;
		margin: 0;
	}

	input {
		line-height: normal;
	}

	textarea {
		overflow: auto;
	}

	#container {
		border: solid 10px white;
		max-width: 768px;
		margin: 60px auto;
		position: relative;
		margin-top: 100px;
	}

	form {
		padding: 37.5px;
		margin: 50px 0;
	}

	h1 {
		color: blue;
		font-size: 32px;
		font-weight: 700;
		letter-spacing: 7px;
		text-align: center;
		text-transform: uppercase;
	}

	.underline {
		border-bottom: solid 5px white;
		margin-top: 5px;
		margin-right: auto;
		margin-left: auto;
		width: 80px;
	}

	.icon_wrapper {
		margin: 50px auto 0;
		width: 100%;
	}

	.icon {
		display: block;
		fill: white;
		height: 50px;
		margin: 0 auto;
		width: 50px;
	}

	.email {
		float: right;
		width: 45%;
	}

	input[type='text'], [type='email'], select, textarea {
		background: none;
		border: none;
		border-bottom: solid 5px white;
		color: white;
		font-size: 1.000em;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 0em 0 1.875em 0;
		padding: 0 0 0.875em 0;
		text-transform: uppercase;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

		input[type='text']:focus, [type='email']:focus, textarea:focus {
			outline: none;
			padding: 0 0 0.875em 0;
		}

	.message {
		float: none;
	}

	.name {
		float: left;
		width: 45%;
	}

	select {
		outline: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

		select::-ms-expand {
			display: none;
		}

	.subject {
		width: 100%;
	}

	.telephone {
		width: 100%;
	}

	textarea {
		line-height: 150%;
		height: 150px;
		resize: none;
		width: 100%;
	}

	::-webkit-input-placeholder {
		color: white;
	}

	:-moz-placeholder {
		color: white;
		opacity: 1;
	}

	::-moz-placeholder {
		color: white;
		opacity: 1;
	}

	:-ms-input-placeholder {
		color: white;
	}

	#form_button {
		background: none;
		border: solid 5px white;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-family: 'Helvetica', Arial, sans-serif;
		font-size: 0.875em;
		font-weight: bold;
		outline: none;
		padding: 20px 35px;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

		#form_button:hover {
			background: #474544;
			color: white;
		}

	@media screen and (max-width: 768px) {
		#container {
			margin: 20px auto;
			width: 95%;
		}
	}

	@media screen and (max-width: 480px) {
		h1 {
			font-size: 26px;
		}

		.underline {
			width: 68px;
		}

		#form_button {
			padding: 15px 25px;
		}
	}

	@media screen and (max-width: 420px) {
		h1 {
			font-size: 18px;
		}

		.icon {
			height: 35px;
			width: 35px;
		}

		.underline {
			width: 53px;
		}

		input[type='text'], [type='email'], select, textarea {
			font-size: 0.875em;
		}
	}

